*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

*, *:after, *:before { box-sizing: border-box; }

a:link 		{ color: #E09990;}

a:visited	{ color: #C09990;}

a:active	{ color: #F0DDDD;}

a:hover		{ color: #F0DDDD;}

strong {
   text-emphasis: filled circle white;
}

h1.copy
{
    padding: 1rem;
    z-index: 30;
    font-size: 1.3rem;
    width: 50vw;
    line-height: 1.2rem;
    background-color: rgba(20,10,0,0.8);
    border-radius: 1.5rem;
}

#top-message h2 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
}

p {
    padding: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
    letter-spacing: 0.05rem;
}

html, body {
    height: 100%;
    margin: 0;
    color:#ffffff;
    font-weight: normal;
    letter-spacing: .2rem;
    line-height: 1.8rem;
    min-width: 640px;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    height: 100%;
    min-height: 100vh;
    background-color: #252b25;
    font-family:"メイリオ","Meiryo",Osaka, "ヒラギノ角ゴ Pro W3", Arial, Helvetica, sans-serif;
    background-image: url("back2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

#melko {
    width: 100vw;
    position: absolute;
    left: -21vw;
    z-index: 0;
}

#melko-serif {
    width: 60vw;
    position: absolute;
    top: -10vw;
    right: -3%;
    z-index: 2;
    height: 50vw;
}

h2 {
    margin: 0.5rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    display: block;
    text-align: center;
    line-height: 1.4rem;
    background-color: rgba(30,30,30,0.8);
    border: solid 0.1rem rgba(50,50,50,0.9);
    border-radius: 0.3rem;
}

h3 {
    margin: 0.5rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    display: block;
    text-align: left;
    line-height: 1.2rem;
    background-color: rgba(30,30,30,0.8);
    border: solid 0.1rem rgba(50,50,50,0.9);
    border-radius: 0.3rem;
}

pre {
    font-size: 0.8rem;
    background-color: rgba(30,30,30,0.8);
    margin: 0.4rem;
    padding: 1rem;
    border: solid 0.1rem rgba(50,50,50,0.9);
    border-radius: 0.3rem;
    line-height: 1rem;
    /* font-stretch: 150%; */
    letter-spacing: normal;

}

#ahona
{
    width:100%;
}

#title-div
{
    z-index: 10;
    position: absolute;
    top: 12vw;
    width: 60vw;
    right: -2vw;
}

#top-message {
    position: absolute;
    top: 65vw;
    left: 2vw;
    margin: 0.3vw;
    padding: 1vw;
    width: 50vw;
    background-color: rgba(0,0,0,0.85);
    border: solid 0.5vw;
    border-radius: 2vw;
    z-index: 10;
    max-height: 50vh;
    overflow-y: scroll;
}

#menu-block {
    position: absolute;
    top: 63vw;
    right: 0vw;
    margin: 1.5vw;
    padding: 1vw;
    width: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: baseline;
    align-items: center;
    align-content: space-between;
}


a.button-link:link 		{ color:white;}
a.button-link:visited	{ color:white;}
a.button-link:active	{ color:white;}
a.button-link:hover		{ color:white;}
.button-link
{
    display: contents;
    color: white;
    text-decoration: none;
}

.select-icon
{
    position: absolute;
    width: 9.6vw;
    left: -2vw;
}

.button
{
    width: 100%;
    font-size: 1.2vw;
    line-height: 2.5vw;
    display: flex;
    background-color: rgba(20,10,0,1.00);
    border: solid 1.5vw;
    margin: 1rem;
    padding: 1vw 1vw 1vw 4.8vw;
    border-radius: 5.5vw;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
}

.button-small
{
    margin: 1rem;
    border: solid 0.2rem white;
    border-radius: 1rem;
    padding: 0.4rem 1.2rem;
    display: inline-block;
}


.popup-contents {
    color: #ffffff;
    background: #000000;
    left: 15%;
    padding: 2rem;
    position: absolute;
    top: 15%;
    width: 70%;
    display: none;
    border: solid 0.2rem black;
    z-index: 30;
    background-color: rgba(0,0,0,0.85);
    border: solid 0.4rem;
    border-radius: 1.5rem;
    margin: 1rem 0;
}

.melkor-symbol
{
    width: 10rem;
}

#popup-bg{
    background: rgba(0,0,0,0.8);
    height: 500vh;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 20;
}

#malkor-article
{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.popup{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

