*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

html, body {
    height: 100%;
    margin: 0;
    color:#fff;
    font-weight: normal;
    letter-spacing: .2rem;
    line-height: 1.8rem;
    min-width: 640px;
}

body {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    min-height: 100vh;
    background-color: #101d10;
}

#melko {
	width: 100%;
    position: absolute;
    left: -19%;
    z-index: 0;
}

h2 {
    margin: 0.5rem;
    padding: 1rem;
    font-size: 170%;
    display: block;
    text-align: center;
}

#top-message {
    position: absolute;
    top: 90%;
    left: 2%;
    margin: 1.4rem;
    padding: 2rem;
    width: 50%;
    font-size: 1.2rem;
    background-color:rgba(0,0,0,0.85);
    border: solid 1.0rem;
    border-radius: 2.5rem;
    z-index: 10;
}

#menu-block {
    position: absolute;
    top: 90%;
    right: 3%;
    margin: 1.4rem;
    padding: 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: baseline;
    align-items: center;
    align-content: space-between;
}

#title-div
{
    z-index: 10;
    position: absolute;
    top: 40%;
    width: 43%;
    right: 2%;
}

.button
{
    width: 100%;
    font-size: 1.6rem;
    display: block;
    background-color: rgba(20,10,0,1.00);
    border: solid 0.5rem;
    margin: 1rem;
    padding: 2.4rem;
    border-radius: 5.5rem;
    z-index: 10;
}

