*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

*, *:after, *:before { box-sizing: border-box; }

a:link 		{ color: #E09990;}

a:visited	{ color: #C09990;}

a:active	{ color: #F0DDDD;}

a:hover		{ color: #F0DDDD;}

strong {
   text-emphasis: filled circle white;
}

h1.copy
{
    padding: 0.5rem;
    z-index: 30;
    font-size: 1.0rem;
    width: 100vw;
    line-height: 1.2rem;
    background-color: rgba(20,10,0,0.8);
    border-radius: 0.4rem;
    letter-spacing: 0.05rem;
}

#top-message h2 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
}

p {
    padding: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
    z-index: 200;
}

html, body {
    height: 100%;
    margin: 0;
    color:#ffffff;
    font-weight: normal;
    line-height: 1.8rem;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    height: 100%;
    min-height: 100vh;
    background-color: #252b25;
    font-family:"メイリオ","Meiryo",Osaka, "ヒラギノ角ゴ Pro W3", Arial, Helvetica, sans-serif;
    background-image: url("back2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

#melko {
    width: 80vw;
    position: relative;
    left: -10vw;
    z-index: 0;
}

#melko-serif {
    width: 60vw;
    position: absolute;
    top: -10vw;
    right: -3%;
    z-index: 2;
    height: 50vw;
}

h2 {
    margin: 0.5rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    display: block;
    text-align: center;
    line-height: 1.4rem;
    background-color: rgba(30,30,30,0.8);
    border: solid 0.7rem rgba(50,50,50,0.9);
    border-radius: 0.3rem;
}

h3 {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.0rem;
    display: block;
    text-align: left;
    line-height: 1.0rem;
    background-color: rgba(30,30,30,0.8);
    border: solid 0.5rem rgba(50,50,50,0.9);
    border-radius: 0.3rem;
}

h4 {
    margin: 0.2rem;
    padding: 0.4rem;
    font-size: 0.9rem;
    display: block;
    text-align: left;
    line-height: 1.0rem;
    border: solid;
    border-left-width: 0.4rem;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: rgba(100,100,100,0.9);
    border-radius: 0.3rem;
}

pre {
    font-size: 0.8rem;
    background-color: rgba(30,30,30,0.8);
    margin: 0.4rem;
    padding: 1rem;
    border: solid 0.1rem rgba(50,50,50,0.9);
    border-radius: 0.3rem;
    line-height: 1rem;
    /* font-stretch: 150%; */
    letter-spacing: normal;

}

#ahona
{
    width:100%;
}

#title-div
{
    z-index: 10;
    position: absolute;
    top: 12vw;
    width: 50vw;
    right: 5vw;
}

#visual {
    width: 100vw;
    height: 40vw;
}

#article-list {
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.85);
    border: solid 0.5vw;
    border-radius: 2vw;
    z-index: 10;
    max-height: 50vh;
    overflow-y: scroll;
    display: inline-block;
}

#article-list {
    font-size: 90%;
    line-height: 120%;
    width: 70%;
    max-width: 200rem;
}

#article-list ul {
    padding-left: 1rem;
}

#app {
    display: flex;
    splay: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#flex-box {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    #flex-box {
        display: flex;
        flex-direction: column-reverse;
    }

    #article-list {
        width: 100%;
        order: 3;
    }
}

#top-message {
    margin: 0.3vw;
    padding: 1vw;
    background-color: rgba(0,0,0,0.85);
    border: solid 0.5vw;
    border-radius: 2vw;
    z-index: 10;
    max-height: 30rem;
    overflow-y: scroll;
}

#menu-block {
    flex: 1 0 50%;
    top: 63vw;
    right: 0vw;
    margin: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: baseline;
    align-items: center;
    align-content: space-between;
}


a.button-link:link 		{ color:white;}
a.button-link:visited	{ color:white;}
a.button-link:active	{ color:white;}
a.button-link:hover		{ color:white;}
.button-link
{
    display: contents;
    color: white;
    text-decoration: none;
}

.select-icon
{
    position: absolute;
    width: 6rem;
    left: -2rem;
}

.button
{
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: flex;
    background-color: rgba(20,10,0,1.00);
    border: solid 0.5rem;
    margin: 0.2rem 0;
    padding: 1vw 1vw 1vw 5.5rem;
    border-radius: 5.5rem;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
    position:relative;
}

.button-small
{
    margin: 1rem;
    border: solid 0.2rem white;
    border-radius: 1rem;
    padding: 0.4rem 1.2rem;
    display: inline-block;
}


.popup-contents {
    color: #ffffff;
    background: #000000;
    left: 5%;
    padding: 2rem;
    position: absolute;
    width: 90%;
    display: none;
    border: solid 0.2rem black;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.85);
    border: solid 0.4rem;
    border-radius: 1.5rem;
    margin: 1rem 0;
    overflow-y: scroll;
    height: 90vh;
    top: 5vh;
}

.melkor-symbol
{
    width: 10rem;
}

#popup-bg{
    background: rgba(0,0,0,0.8);
    height: 100%;
    position: fixed;
    width: 100%;
    display: none;
    z-index: 20;
}

#malkor-article
{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.popup{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

