html {
    color: white;
    background-color: black;
}

#total-layout {
    display: flex;
    flex-direction: row;
}

#mapping, #output {
    width: 45vw;
    height: 80vh;
    border: solid 0.1rem white;
    border-radius: 0.2rem;
    margin: 1vw 1vh;
}